<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.whuerbbs.backend.mapper.NotificationMapper">
    <resultMap id="notificationResult" type="Notification" autoMapping="true">
        <id property="id" column="nid"/>
        <association property="fromUser" javaType="User" autoMapping="true"/>
    </resultMap>
    <insert id="insert">
        insert into notification (id, type, reference_id, content, from_user_id, to_user_id, be_read, created_at)
        values (#{id}, #{type}, #{referenceId}, #{content}, #{fromUserId}, #{toUserId}, #{beRead}, #{createdAt})
    </insert>
    <select id="selectByToUserIdPageable" resultMap="notificationResult">
        select n.id nid,
               n.type,
               n.summary,
               n.content,
               n.reference_id,
               n.from_user_id,
               n.to_user_id,
               n.be_read,
               n.created_at,
               u.id,
               u.nickname,
               u.avatar_url,
               u.gender
        from notification n
                 join user u on n.from_user_id = u.id
        where to_user_id = #{userId}
          and n.deleted = 0
        order by n.id desc
    </select>
    <select id="countUnreadByToUserId" resultType="long">
        select count(1)
        from notification
        where to_user_id = #{userId}
          and be_read = 0
          and deleted = 0
    </select>
    <update id="setAllRead">
        update notification
        set be_read = 1
        where to_user_id = #{userId}
    </update>
</mapper>